@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300;1,400&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Prata", serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.oakland_section {
  width: 100%;
}

.oakland_section {
  width: 100%;
  height: 100%;
}
.oakland_section__weaper__backimg {
  width: 85%;
}
.oakland_section__weaper__backimgs {
  width: 100%;
  max-height: 700px;
  border-top-right-radius: 120px;
}
.oakland_section__weaper__backimgs img {
  width: 100%;
  max-height: 400px;
}
.oakland_section__weaper {
  position: relative;
}
.oakland_section__weaper__overlay {
  position: absolute;
  top: 5%;
  left: 12%;
  width: 70%;
}
.navbar__style {
  padding: 1em;
}
.oakland_section__weaper__overlay__navbar__left__logo {
  cursor: pointer;
}
.oakland_section__weaper__overlay__navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar__style {
  color: white;
  text-decoration: none;
  position: relative;
}
.oakland_section__weaper__overlay__main_heading__para {
  padding: 3em 0em;
}
.oakland_section__weaper__overlay__two {
  display: flex;
  padding: 2em 0em;
}
.oakland_section__weaper__overlay__main_heading {
  width: 85%;
}
.oakland_section__weaper__overlay__entry {
  color: white;
  margin-top: 7em;
  width: 52%;
}
.oakland_section__weaper__overlay__main_heading {
  font-size: 36px;
}
.oakland_section__weaper__overlay__main_heading__para {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.headerback__secon {
  width: 50%;
}
.headerback__second img {
  position: absolute;
  // bottom: 0%;
  right: 8%;
  top: 22%;
  height: 560px;

  max-width: 540px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  transition: all .4s ease-in-out;
}
.headerback__second img:hover{
  transform: scale(1.05);
}
.headerback__second__image {
  width: 100%;
  

}
.feature__content__card__svg2 {
  display: none;
}

.oakland_section__weaper__overlay__two__left {
  padding: 12px 3em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 10px;
  background-color: #b29c3f;
  font-family: "Montserrat", sans-serif;
}
.oakland_section__weaper__overlay__two__left:hover{
  padding: 12px 3em;
  margin-right: 1em;
  border-radius: 10px;
  background-color: white;
  color: #b29c3f;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.oakland_section__weaper__overlay__two__right {
  padding: 12px 3em;
  margin-right: 1em;
  border-radius: 10px;
  background-color: white;
  color: #b29c3f;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.oakland_section__weaper__overlay__two__right:hover{
  padding: 12px 3em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 10px;
  background-color: #b29c3f;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.feature {
  width: 100%;
  margin: 5em 0em;
}
.feature__content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding: 0em 5em;
}
.feature__content__card {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(180deg, #f1f1f1 0%, rgba(241, 241, 241, 0) 100%);
  padding: 3em 2em;
  border-radius: 9px;
  margin: 1%;
  width: 30%;
  max-height: 400px;
}
.feature__content__card__info {
  padding-left: 1.6em;
}
.feature__content__card:hover {
  background: #b29c3f;
  color: white;
  transition: 0.3 all ease-in-out;
  box-shadow: 13px 15px 54px rgba(178, 156, 63, 0.56);

  .feature__content__card__svg2 {
    display: flex;
  }
  .feature__content__card__svg {
    display: none;
  }
}

.feature__content__card_two__entry {
  display: flex;
  align-items: center;
}

.feature__content__card__para {
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

.about__section {
  width: 100%;
}

.about__section__weaper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.about__section__secondentry__img img {
  max-height: 930px;
  width: 100%;
}
.about__section__firstentry {
  margin: 1%;
  // width: 30%;
}
.about__section__thirdentry {
  margin: 1%;
  width: 25%;
}
.about__section__thirdentry__img img {
  max-height: 470px;
  margin: 1%;
  // margin-bottom: 10em;
  width: 100%;
}
.about__section__firstentry__top__img img {
  max-height: 290px;
  margin: 1%;
}


.about__section__secondentry {
  width: 35%;
  position: relative;
}
.about__section__secondentry__overlay {
  position: absolute;
  top: 15%;
  left: 15%;
}
.about__section__secondentry__heading {
  color: white;
  font-size: 40px;
}
.about__section__secondentry__para {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  padding: 1em 0em;
  padding-bottom: 2em;
}
.about__section__secondentry_card {
  // background-color: firebrick;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  flex-direction: column;
  // padding-right:2em;
  padding: 1em 1em;
  color: white;
}
.about__section__secondentry_card__text {
  font-size: 25px;
}
.about__section__secondentry_card__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 2px 0px;
}

.about__section__secondentry_card__para {
  font-family: "Poppins", sans-serif;
  padding: 5px 0em;
  width: 85%;
  text-align: center;
}

.about__section__secondentry_card:hover {
  background: #b29c3f;
  box-shadow: 4px 8px 54px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.about__section__thirdentry__text {
  font-size: 33px;
  line-height: 40px;
  font-weight: 400;
}

.about__section__thirdentry__buttom {
  width: 30%;
  padding: 9px 2em;
  cursor: pointer;
  border-radius: 10px;
  background-color: #b29c3f;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: fit-content;
}
.farm__house__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0em 9em;
  width: 100%;
}
.farm__house__content__left__heading {
  font-size: 34px;
}
.farm__house__content__left {
  width: 50%;
}
.farm__house {
  margin: 5em 0em;
}
.farm__house__content__left__para {
  font-family: "Inter", sans-serif;
  padding: 2em 0em;
}

.farm__house__feature {
  position: absolute;
  width: 100%;
}
.farm__house__feature__section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  background: url("./assets/feature.png"), no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.farm__house__feature__section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

.farm__house__feature__section__waeaper {
  display: flex;

  border: 1px solid red;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 80%;
  margin-top: 3em;
  margin-bottom: 3em;
  justify-content: space-between;
}
.farm__house__feature__section__waeaper__svg {
  padding: 5em 4em;
  width: 20%;
}
.farm__house__feature__section__waeaper__svg__two {
  width: 20%;
}
.farm__house__feature__section__waeaper__svg__two:hover {
  // background-color: #b29c3f;
  border-bottom-left-radius: 30px;
  background-color: #b29c3f;
  border-top-left-radius: 30px;
  .farm__house__feature__section__waeaper__svg22 {
    display: flex;
  }
  .farm__house__feature__section__waeaper__svg {
    display: none;
  }
}
.farm__house__feature__section__waeaper__svg22 {
  display: none;
  padding: 5em 4em;
  width: 20%;
}

.location__Section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.location__Section__para{
  width: 70%;
  padding: 1.4em 0px;
  font-family: "Inter", sans-serif;
}
.location__Section__text{
  font-size: 32px;

}
.location__Section__img{
  width: 100%;
  height: 100%;

}
.location__Section__img img{
  width: 80%;max-height: 500px;
}
.luxury{
  width: 100%;
  margin: 8em 0em;
}
.luxury__section{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
width: 100%;
  margin-top: 3em;
padding-left: 8em;
  margin-bottom: 3em;

}
.luxury__section__left__heading{
  line-height: 50px;
  font-weight: 400;
  font-size: 35px;
  width: 60%;

}
.luxury__section__left__para{
  font-family: "Montserrat", sans-serif;
  padding: 2em 0px;
}

.luxury__section__left{
width: 50%;
}

.luxury__section__left__heading span{
  color: #b29c3f;
}
.luxury__section__left__button{
  width: 30%;
  padding: 9px 2em;
  cursor: pointer;
  border-radius: 10px;
  background-color: #b29c3f;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: fit-content;
}
.luxury__section__right{
  width: 50%;
  position: relative;

  
}
.luxury__section__right__imgs{
  position: absolute;
  top: 2%;
  right: 50%;
  
 
}
// .luxury__section__right__img{
// width: 100%;  
// height: 100%;
  
// }
.luxury__section__right__img img{
width: 45%;
max-height: 700px;
margin: 0 auto;
display: flex;
margin-top: 2.5em;
margin-left: 8.7em;
opacity: 0.46;
}
.luxury__section__right__imgs img{
width: 100%;
z-index: -999;
max-height: 280px;
margin: 0 auto;
margin-top: 4em;
margin-left: 3em;
display: flex;

}
.luxury__section__right__imgss{
  width: 100%;
  height: 100%;
}
.luxury__section__right__imgss img{
width: 44%;
z-index: -999;
height: 430px;
max-height: 430px;
margin: 0 auto;
top: 0;
margin-bottom: 2em;
margin-left: 12em;
position: absolute;
display: flex;
opacity: 0.14;
}
@media(max-width:1000px){
  .luxury__section{
    width: 100%;
    flex-direction: column;
    padding: 0em 5em;
margin-bottom: 33em;
  }

  .luxury__section__left{
    width: 100%;
  }
  .luxury__section__right{
    width: 100%;
    margin-left: 6em;
  }
  .luxury__section__right__imgs img {
max-height: 458px;
}
.luxury__section__left__heading{
width: 90%;
justify-content: center;
text-align: center;
align-items: center;
}
}

@media(max-width:950px){
  .feature__content{
    width: 100%;
    flex-wrap: wrap;
    padding: 0em;
  }
.feature__content__card{
    width: 40%;
  }
  .farm__house__content__left{
    width: 100%;
  }
  .farm__house__content{
    flex-direction: column;
  }
  .farm__house__content__left__heading{
    text-align: center;
  }
  .farm__house__content{
padding: 0em 3em;
text-align: center;
  }

}
@media(max-width:950px){
.luxury__section__right__img img{
  display: none;
  
}
.luxury__section__right__imgss img{
  display: none;
}

}
@media(max-width:660px){
  .feature__content__card{
    width: 80%;
    margin: 2%;
  }
  .farm__house__content{
    padding: 0em 2em;
  }
  .farm__house__content__left__heading{
    font-size: 30px;
  }
  .location__Section__para{
    width: 80%;
  }
  .location__Section__img img{
    width: 90%;
  }

}
@media(max-width:450px){
  .feature__content__card{
    width: 90%;
    margin: 2%;
  }
  .farm__house__content__left__heading{
    font-size: 28px;
  }
 .location__Section__para{
font-size: 14px;

 }
 .location__Section__img img{
  width: 95%;
  height: 240px;
}
.location__Section__para {
  font-size: 95%;
}


}
